.footer {
  background-color: var(--color-secundario);
  color: var(--color-texto);
  font-family: 'Nunito', sans-serif;
  border-top: 1px solid var(--color-borde);
    width: 100%;

}

.footer .container {
  max-width: 1200px; /* igual que el resto de tus secciones */
  margin: 0 auto;
}

.footer h6,
.footer h5 {
  color: var(--color-primario);
}

.footer a {
  color: var(--color-primario);
  transition: color 0.3s ease, transform 0.2s ease;
}

.footer a:hover {
  color: var(--color-acento);
  transform: scale(1.4);
}

.footer .social-link i {
  font-size: 1.5rem;
}

.footer-logo {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;              /* redondo */
  border: 2px solid var(--color-secundario);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
}

.footer-brand {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  color: var(--color-secundario);
}
